<AuthorizeView>
    <Authorized>        
        <a class="mud-theme-primary" href="auth/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a class="mud-theme-primary" href="auth/login?redirectUri=/">Log in</a>
    </NotAuthorized>
</AuthorizeView>